# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/
env/
venv_proyecto/

# IDEs
.vscode/
.idea/

# Datos y salidas
outputs*/
outputs_*/
**/outputs*/
**/outputs_*/

data/*.log
data/*.tmp

# Uploads from Streamlit (do not version)
uploads/
uploads/**

# Mac
.DS_Store
