# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/
env/

# IDEs
.vscode/
.idea/

# Datos y salidas
outputs*/
outputs_*/
**/outputs*/
**/outputs_*/

data/*.log
data/*.tmp

# Ignorar datasets completos (pero permite agregar un README si quieres)
datasets/
datasets/**
!datasets/README.md

# Mac
.DS_Store
